<html>
<head>
	<title>Password</title>
	<link href="/css/changePassword.css" rel="stylesheet">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div class="navbar">
        <a href="./chat"><img src='/images/chat_inactive.svg'>Chat</a>
        <a href="./todo"><img src='/images/todo_inactive.svg'>To Do</a>
        <a href="./profile" class="active"><img src='/images/profile_active.svg'>Profile</a>
    </div>


    <div class='header'>
        <p>Settings</p>
    </div>

    <div class='options'>
		<div class='nameForm'>
			<label for="name">Current Password</label>
			<input type="text" placeholder="Change your password">
			<label for="name">New Password</label>
			<input type="text" placeholder="Change your password">
			<label for="name">Confirm Password</label>
			<input type="text" placeholder="Change your password">
			
			{{!TODO: button function and status update}}
			{{!TODO}}
			<a class='btn' id='login' href='./todo'>Save</a>
		</div>
	</div>
			
</body>
