<html>
<head>
	<title>Chat</title>
	<link href="/css/chat.css" rel="stylesheet">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="navbar">
        <a href=""class="active"><img src='/images/chat_active.svg'>Chat</a>
        <a href="./todo"><img src='/images/todo_inactive.svg'>To Do</a>
        <a href="./profile"><img src='/images/profile_inactive.svg'>Profile</a>
    </div>


    <div class='header'>
        <p>Chat</p>
    </div>

</body>
