<html>
<head>
	<title>Log In</title>
	<link href="/css/login.css" rel="stylesheet">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	<div class='container'>

		<img src='/images/logo.svg'>

		<div class='loginForm'>
			<label for="uname">Username</label>
			<input type="text" id='username' placeholder="Enter your username">

			<label for="psw">Password</label>
			<input type="password" placeholder="Enter your password">
			
			<a class='btn' id='login' href='./chat'>Log In</a>
		</div>

		<div class='register'>
			<p>No account? <a href="#">Sign Up</a></p>
		</div>

			
		
	</div>
	<script src="/js/jquery-1.11.0.js"></script>
	<script src="/js/login.js"></script>
	<script src="/js/bootstrap.js"></script>
</body>
