<html>
<head>
	<title>Log In</title>
	<link href="/css/login.css" rel="stylesheet">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	{{> facebook}}
	<script src="/js/facebook.js"></script>
</head>
<body>
	<div id="fb-root"></div>
	<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.2&appId=131914048842708&autoLogAppEvents=1" 
		nonce="FFreiYcw"></script>

	<div class='container'>

		<img src='/images/logo.svg'>

		<div class='loginForm'>
			<label for="uname">Username</label>
			<input type="text" id='username' placeholder="Enter your username">

			<label for="psw">Password</label>
			<input type="password" placeholder="Enter your password">
			
			<a class='btn' id='login' href='./chat'>Log In</a>

			</br>

			<div class="fb-login-button" data-width="1000" data-size="large" data-button-type="login_with" 
			data-layout="rounded" data-auto-logout-link="false" data-use-continue-as="false" style="margin-left: 40px">		
			</div>

			<!-- <fb:login-button scope="public_profile,email" onlogin="checkLoginState();" style="margin-left: 180px" data-size="xlarge">
			</fb:login-button> -->
		</div>
		
		

		<div class='register'>
			<p>No account? <a href="./signUp">Sign Up</a></p>
		</div>

			
		
	</div>
	<script src="/js/jquery-1.11.0.js"></script>
	<script src="/js/login.js"></script>
	<script src="/js/bootstrap.js"></script>
</body>
