<html>
<head>
	<title>Profile</title>
	<link href="/css/profile.css" rel="stylesheet">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="navbar">
        <a href="./chat"><img src='/images/chat_inactive.svg'>Chat</a>
        <a href="./todo"><img src='/images/todo_inactive.svg'>To Do</a>
        <a href="" class="active"><img src='/images/profile_active.svg'>Profile</a>
    </div>


    <div class='header'>
        <p>Profile</p>
    </div>

    <div class ='selectList'>
        <div class='choice'>
        <div class='choice'>
            <p>Username <i class="arrow right clearfix"></i> </p>
        </div>

        <div class='choice'>
             <p>Password <i class="arrow right clearfix"></i></p>
        </div>

        <div class='choice'>
             <p>Notifications <i class="arrow right clearfix"></i></p>
        </div>

        <div class='choice'>
            <p>Log Out</p>
        </div>
    </div>

</body>
