<html>
<head>
	<title>To Do</title>
	<link href="/css/todo.css" rel="stylesheet">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="navbar">
        <a href="./chat"><img src='/images/chat_inactive.svg'>Chat</a>
        <a href="" class="active"><img src='/images/todo_active.svg'>To Do</a>
        <a href="./profile"><img src='/images/profile_inactive.svg'>Profile</a>
    </div>
{{!-- 
    <div class='header'>
        <p>To Do</p>
    </div>
	<div class='container'> --}}
{{!-- 
        <form role='form' method='get' action='/addtask'>
            <input type='text' id='newtask' name='newtask'>
            <input type='submit' value='add task'></input>
        </form> --}}

	<form id='addTaskForm' role='form' method='get' action='/createtask'>
		<input type='text' id='task' name='task'>
		<input type='submit' id='submitBtn' value='Add task'></input>
	</form>

        <div class='todoLists'>
            <div class='tasks'>
                <div class='items'>
                    <ul>
                        {{#each tasks}}
                        <li>{{name}}</li>
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>
	</div>


    </body>

        	<script src="/js/jquery-1.11.0.js"></script>
		<script src="/js/todo.js"></script>
		<script src="/js/bootstrap.js"></script>
</html>